

body{
    
  padding:50px;
  }
  .outer-div{
      padding:75px;
      background-color: #DCDCDC;
      width:1500px;
      height: 700px;
      position: relative;
  
  
  }
  .inner-div{
      width: 960px;
      height:600px;
      background-color: white;
      margin:0 auto;
  }
  header li{
      display:inline;
      padding: 0 20px 0 20px;
      border-right: black solid;
      float:right;
      
      
  }
  
  
  
  img {
    widows: 200px;
    height: 200px;
    float:left;
    margin-left: 20px;
    margin-right: 10px;
  }
  nav{
      
      padding-bottom:20px;
      margin-right:150px;
      
  }
  .footer{
  
        position: absolute;;bottom:0;
        width:1500px;
        display:block;
        border:black solid 1px;
        background-color:darkgray;
        padding:25px;
        text-align: center;
        margin-left:25px;
        margin-right: 25px;
      
      }
      

 #line{
     border-bottom: darkslategrey 1px solid;
    
     }
#secondary-heading{
    color:#7FFFD4;
    font-size:xx-large
    

}
h1{
    border:color green 20px solid;
    background-color:#7FFFD4;
    margin-right: 85%;
    

}
 

      
    
      

  